button{
  background-image: linear-gradient(to bottom, #C0C0C0 0%, #bb0b0b 100%);
  border-radius: 6px;
  box-shadow: 3px 3px 3px #999;
  border:solid 1px #333A40;
  margin: 5px;
  color: #ffffff;
}

input{
  border-radius: 6px;
  border:solid 1px #333A40;
  margin: 5px;
  padding-left: 3px;
  width: 250px;
}

#menu{
  width: 500px;
  padding-left: 10px;
  position: absolute;
}

#zoom{
  background-color: #ffffff;
  border-radius: 10px;
  border:solid 1px #333A40;
  color: #ff0000;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  width: 400px;
  margin: auto;
  position: fixed;
}

#Cadre{
  padding-left: 20%;
}

.PokeCase {
  border-radius: 10px;
  box-shadow: 3px 3px 3px #999;
  border:solid 1px #333A40;
  margin: 20px;
  width: 30%;
}

#null {
  background-image: linear-gradient(to bottom, #ffffff 0%, #C0C0C0  100%);
  color: #000000;
  text-align: center;
  font-size: 30px;
}

#normal {
  background-image: linear-gradient(to bottom, #ffffff 0%, #c8ad7f  100%);
  color: #000000;
}

#plante {
  background-image: linear-gradient(to bottom, #00FF7F 0%, #808000 100%);
  color: #ffffff;
}

#feu {
  background-image: linear-gradient(to bottom, #000000 0%, #ff0000 100%);
  color: #ffffff;
}

#eau {
  background-image: linear-gradient(to bottom, #1E90FF 0%, #0000FF 100%);
  color: #ffffff;
}

#insect {
  background-image: linear-gradient(to bottom, #000000 0%, #808000 100%);
  color: #ffffff;
}

#poison {
  background-image: linear-gradient(to bottom, #ff0000 0%, #800080 100%);
  color: #ffffff;
}

#psy {
  background-image:linear-gradient(to bottom, #000000 0%, #800080 100%);
  color: #ffffff;
}

#combat {
  background-image:linear-gradient(to bottom, #ff0000 0%, #582900 100%);
  color: #ffffff;
}
