<div id="menu">
  <form #MoteurRecherche="ngForm">
    <input type="text" name="pokeSearch" ngModel
           (keyup)="envoyer(MoteurRecherche.value.pokeSearch)"
           placeholder="Rechercher un Pokémon" required>
    <button type="reset" (click)="reinitRecherche()" [disabled]="MoteurRecherche.invalid">Réinitialiser</button>
  </form>
</div>

<div id="logo"><img src="../../../assets/pokedex.png" alt="logo">
<br><p>By Kévin PRIOL</p></div>

<div *ngIf="p" id="zoom">
  Le Pokémon envoyé par la "fille" est {{p.nom}}.
    <br>Il est le Pokémon n°{{p.id}}. Il est de la {{p.gen}}e génération.
</div>

<div class="columns is-1 is-multiline" id="Cadre">
  <div *ngIf="pokemons.length<1" class="PokeCase" id="null">Aucun pokémons trouvés</div>
  <div *ngFor="let poke of pokemons" class="PokeCase" id="{{poke.type[0]}}">
    <app-pokemon [pokemon]=poke (clickSurPokemon)="p=$event"></app-pokemon>
  </div>
</div>
